* {
    margin: auto;
}

body {
    background-color: #444343;
}

#mainContent {
    background: url("../images/yoda.png") no-repeat;
    background-position: center;
    background-size: 500px 500px;
    max-height: 600px;
}

h1 {
    font-family: Helvetica, Arial;
    text-align: center;
    margin-top: 25px;
    color: white;
}

textarea {
    max-width: 400px;
    max-height: 80px;
    background-color: #eeeeee;
}

label {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: white;
}

button {
    width: 400px;
    background-color: #277201;
    font-weight: bold;
    color: white;
}

#translator {
    border 1px solid black;
    padding: 10px;
    background-color: #0D3D03;
    width: 400px;
    margin-top: 37px;
}

#result {
    border: 1px solid #277201;
    background-color: #277201;
    height: 100px;
    width: 250px;
    border-radius: 57px;
    margin-top: 295px;
    color: #ffffff;
    padding: 50px;
    font-size: 20px;
}